<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="imgs/logo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
    <title>Bollos Nancy</title>
</head>
<body>
    <nav>
        <ul>
            <li><img id="logo" src="imgs/logo.png" alt="logo de bollos nancy"></li>
            <li><a href="/">Inicio</a></li>
            <li><a href="/flavors">Sabores</a></li>
            <li><a href="/addFlavor">A&ntilde;adir sabor</a></li>
        </ul>
    </nav>
    
    <div class="container">
        <section class="main">
            <h1>BOLLOS NANCY</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, ipsum molestiae, aut, dolores aspernatur eum quae ut voluptatibus iste reprehenderit magni facilis aperiam beatae. Dignissimos minus obcaecati enim rem quis?</p>
        </section>
        <section class="img-container">
            <img src="imgs/bollos.png" alt="">
        </section>
    </div>
</body>
</html>